!models/.gitkeep
results/*
!results/.gitkeep
*.ini
video/
documents/Laporan Final Project Kelompok14.docx
# Abaikan semua file model PyTorch
*.pt
*.pth

!models/train/model_22.pt
!models/batik_parang/model_8.pt
!models/batik_kawung/model_21.pt
!models/batik_megamendung/model_100.pt
